.venv
tformervenv/
*.pyc
stella_en_400M_v5/
__pycache__/
.env
runs/
checkpoints/
log/
.vscode/
*.pth
*.bin
*.pt
*.pkl
*.joblib
*.csv
*.json
*.txt
*.log
models/
.DS_Store
models/
wandb/
*.aux
*.log
*.toc
*.dvi
*.ps
*.fdb_latexmk
*.blg
*.bbl
*.out
*.fls
*.synctex.gz